<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About July Splurty</h1>

  <p>
    July Splurty was built by <a target="_blank" href="http://github.com/MarcMcArthur">Marc</a> A web developer from London.
  </p>
  <br />
  <p>
    Marc is currently working as part of Team Divergence, creating a Ruby on Rails based Chess App.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

</div>